body{
    text-align: center;
    background-color: aqua;
    color: darkblue;
}
#image1{
    height: 30%;
}

#image2{
    height: 30%;
}

#image3{
    height: 30%;
}

#image4{
    height: 30%;
}